<div>
<% if flash[:notice].present? %>
  <div style="color: red" class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Shelfs</h1>
<% if @shelfs.empty? %>
  <p>No shelfs. Please add the shelfs.</p>
<% end %>
<ol class="list-group">
  <% @shelfs.each do |shelf| %>
    <li class="list-group-item list-group-item-success"><%= link_to shelf.name, shelf_path(shelf) %></li>
  <% end %>
</ol>

<% if current_member.role == "admin" %>
 <%= link_to "+ Add New Shelf", new_shelf_path(), class: 'btn btn-primary btn-lg' %>
<% end %>
</div>
