<div>
<% if flash[:notice].present? %>
  <div style="color: red" class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Sections</h1>
<ol class="list-group">
  <% @sections.each do |section| %>
    <li class="list-group-item list-group-item-success"><%= link_to section.name, section_path(section) %></li>
  <% end %>
</ol>

<% if current_member.role == "admin" %>
  <%= link_to "+ Add New Section", new_section_path(), class: 'btn btn-primary btn-lg' %>
<% end %>
</div>
