<div>
<h1>Sections</h1>
<ol class="list-group">
  <% @sections.each do |section| %>
    <li class="list-group-item list-group-item-success"><%= link_to section.name, section_path(section) %></li>
  <% end %>
</ol>
<% if can? :manage, Section%>
 <%= link_to "+ Add New Section", new_section_path(), class: 'btn btn-primary btn-lg' %>
<% end %>
</div>
