<div>
<% if flash[:notice].present? %>
  <div style="color: red" class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Books</h1>
<% if @books.empty? %>
  <p>No Books. Please add the books.</p>
<% end %>
<ol class="list-group">
  <% @books.each do |book| %>
    <li class="list-group-item list-group-item-success"><%= link_to book.name, book_path(book) %></li>
  <% end %>
</ol>

<%= link_to "+ Add New Book", new_book_path(), class: 'btn btn-primary btn-lg' %>
</div>