<div style="margin: 1vh 0vw 0vh 5vw">
<form class="form-horizontal" method="GET" action="http://127.0.0.1:3000/api/books">
  <input name="authenticity_token" value="<%= form_authenticity_token%>"  type="hidden" >
    <div class="form-group" style="width: 40vw">
        <div class="col-sm-10">
        <input placeholder="Enter Book Name" class="form-control" name="name"/>
        </div>
        <button type="submit" class="btn btn-primary">Seach Book</button>
    </div>
</form>
</div>