<div>
<h1>Library Members</h1>
<form class="form-horizontal" method="GET" action="http://127.0.0.1:3000/api/members">
  <input name="authenticity_token" value="<%= form_authenticity_token%>"  type="hidden" >
    <div class="form-group" style="width: 40vw">
        <div class="col-sm-10">
        <input placeholder="Enter Email" class="form-control" name="email"/>
        </div>
        <button type="submit" class="btn btn-primary">Seach Member</button>
    </div>
</form>
<ol class="list-group">
  <% if @members.empty? %>
    <p>No Members. Please add the member.</p>
  <% end %>
  <% @members.each do |member| %>
    <li class="list-group-item list-group-item-success"><%= link_to "#{member.email.to_s}", member_path(member) %></li>
  <% end %>
</ol>
</div>